<%- include('../../../include/head'); -%>

<form method="POST" enctype="multipart/form-data" action="/users/admin/games/add">
    <input type="file" name="filename"><br>
    <input type="text" name="name"><br>
    <button type="submit">Upload</button>
</form>
<%- include('../../../include/footer'); -%>