<%- include('../../../include/head'); -%>


<div>
    <div class="table-responsive d-xl-flex mx-auto" style="background-color: #734c4c;width: 60%;">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Column 1</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="text-left d-flex flex-row w-100 h-100">
                        <p class="text-center w-50">Paragraph</p>
                        <div class="d-flex flex-row mr10 ml10"><input type="text" /><button class="btn btn-primary" type="button">Modifier</button></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include('../../../include/footer'); -%>