<html>
    <%- include('./include/head'); -%>
    <body>
        <h1 class="text-danger ml15">Oops <%= message %></h1>
        <h2 class="color-white ml15">Error <%= error.status %></h2>
        <p class="color-white ml15"> If this is not normal, please contact an admin ! </p>

        <a href="/"><button type="button" class="btn btn-primary">Home Page</button></a>
    <%- include('./include/footer'); -%>
    </body>
</html>

