<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>PolyEsports</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" text="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans">
    <link rel="stylesheet" href="./fonts/font-awesome.min.css" text="text/css">
    <link rel="stylesheet" href="./stylesheets/Navigation-with-Button.css" text="text/css">
    <link rel="stylesheet" href="./stylesheets/styles.css" text="text/css">


</head>
<body>
<header>
    <h1 class="display-4 text-center mx-auto">PolyEsports</h1>
    <nav id="nav" class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
            <div class="collapse navbar-collapse d-flex" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="/">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="#" >
                            Second Item
                        </a>
                    </li>
                </ul>
                <%if(logged){%>
                    <span class="invisible navbar-text actions">
                                <a id="nav-link" class="login" href="/users/login">
                                    Log In
                                </a>
                                <a id="nav-link" class="btn btn-light action-button" role="button" href="/users/signup">
                                    Sign Up
                                </a>

                    </span>
                    <span class="navbar-text actions">
                        <a id="nav-link" class="btn btn-light action-button" role="button" href="/users/logout"">
                            Log Out
                        </a>
                    </span>
                <%}
                else{%>
                <span class="navbar-text actions">
                                <a id="nav-link" class="login" href="/users/login">
                                    Log In
                                </a>
                                <a id="nav-link" class="btn btn-light action-button" role="button" href="/users/signup">
                                    Sign Up
                                </a>

                </span>
                <%}%>
            </div>
        </div>
    </nav>
</header>

