
<header>
    <h1 class="display-4 text-center mx-auto">PolyEsports</h1>
    <nav id="nav" class="navbar navbar-light navbar-expand-md">
        <div class="container">
            <div class="collapse navbar-collapse d-flex" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="/">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="/users/profile/<%= idUser%>">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="/teams">
                            Teams
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="/tournaments" >
                            Tournaments
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="nav-link" class="nav-link" href="/users/admin/" >
                            Admin Panel
                        </a>
                    </li>
                </ul>
                <span class="navbar-text actions">
                    <a id="nav-link" href="/users/logout">
                        <button class="btn btn-info" role="button">
                            Log Out
                        </button>
                    </a>
                </span>
            </div>
        </div>
    </nav>
</header>


