<%- include('./headUser'); -%>



<form class="border rounded-0 border-dark mx-auto" style="width: 500px;background-color: #212121;margin-top: 150px;" method="POST">
    <h1 class="text-center w-100";">
        Connexion
    </h1>
    <div class="d-xl-flex justify-content-xl-start">
        <label class="color-white ml15">
            Email :
        </label>
        <input id="email" type="email" class="form-control ml10" name="mail"/>
    </div>
    <div class="d-xl-flex justify-content-xl-start mt20">
        <label class="color-white ml15">Mot de passe :</label>
        <input id="pw" type="password" class="form-control ml10" name="pw"/>
    </div>
    <div class="d-xl-flex flex-row mt15" style="margin-top: 15px;">
        <button class="btn btn-primary d-xl-flex mx-auto" type="submit">
            Login
        </button>
    </div>
    <div class="d-xl-flex flex-column justify-content-xl-center">
        <a  class="mx-auto mr10" href="/users/signup">
            Creer un compte
        </a>
        <%switch(status) {
        case 0: %>
        <h5  class="text-center text-danger d-xl-flex mx-auto pl10">Email est incorrect</h5>
        <%break
        case 1: %>
        <h5  class="text-center text-danger d-xl-flex mx-auto pl10"> Mot de passe  incorrect</h5>
        <%break
            default:
        }%>
    </div>
</form>
<%- include('./footerUser'); -%>